# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
.pytest_cache/

# VS Code
.vscode/

# Environment
.env

# Logs
*.log

# SQLite
*.db

# Dados gerados
data/raw/*
data/processed/*
data/database/*

# Manter a estrutura
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/database/.gitkeep

# Sistema
.DS_Store
Thumbs.db
